
<div class="container">
  <ul class="list-inline text-center">
    <% ["Quan", "Colby", "Matthieu"].each do |member| %>
    <li>
      <%= image_tag "#{member}.png", class: "img-resize" %>
      <h3><%= member.capitalize %></h3>
    </li>
    <% end %>
  </ul>
</div>
